<div class="hero-container">
    <h4 class="hero-title">Server on demand!</h4>
</div>
<div class="explain-text-container">
    <p class="explain-text">
        Relocate your IT infrastructure to a state-of-the-art ServerOnDemand data center and gain access to one of the
        largest and most advanced hosting networks in the world. We offer hundreds of varierties based on your
        requirement.
    </p>
</div>
<div class="go-forward-container">
    <button [routerLink]="'/servers/choose-server'" nz-button nzType="primary">Find the right server for you now<i
            nz-icon nzType="right"></i></button>
</div>